.articleAccueil {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    margin-bottom: 40px;
}

.articleAccueil__titre {
    font-size: 40px;
    /* font-weight: lighter; */
}

.articleAccueil__lien-listeBiere {
    font-size: 25px;
}

.articleAccueil__texte {
    font-size: 20px;
    margin: 0px 20px;
}

.articleAccueil__img {
    height: 50vh;
    object-fit: cover;
    position: relative;


}