.articleAccueil {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    margin-bottom: 40px;
}

.articleAccueil__titre {
    font-size: 40px;
    /* font-weight: lighter; */
}

.articleAccueil__lien-listeBiere {
    
    border: none;
    border-radius: 5px;
    margin-top: 40px;
	padding: 5px;
    width: 400px;
    font-size: 35px;
	font-family: inherit;
	cursor: pointer;
}

.articleAccueil__lien-listeBiere:hover {
    background-color: rgb(231, 221, 160);
    border-radius: 3px;
    transition: 0.1s;
}

.articleAccueil__texte {
    font-size: 20px;
    margin: 0px 20px;
}

.articleAccueil__img {
    height: 50vh;
    object-fit: cover;
    position: relative;


}