.navigation {
    padding: 10px 0px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 20px;
}

.navigation__formulaire-input {
    border: 1px solid rgba(0, 0, 0, 0.14);
    padding: 5px;
    margin-bottom: 10px;
}

.navigation__formulaire-courrielUtilisateur {
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.navigation__formulaire-bouton {
	border: none;
    border-radius: 3px;
	padding: 5px;
    margin-left: 10px;
	font: inherit;
	cursor: pointer;
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.091); */
}

.navigation__formulaire-bouton:hover {
    background-color: rgb(231, 221, 160);
    transition: 0.1s;
}