.grille {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    justify-content: space-between;
    /* padding-left: 2vw;
    padding-right: 2vw; */
}

.enteteGrille {
    margin-left: 24px;
    font-family: 'Poiret One', cursive;
    font-weight: 200;
}